SMARTRENT_EMAIL=user@example.com
SMARTRENT_PASSWORD=aS$ecureP4ssw0rd
DEVICES={"devId": ["friendly name", "device_mqtt_topic", "device type", "channel"]}

MQTT_HOST=mqtt.example.com
MQTT_PORT=8883
MQTT_TLS=True
MQTT_USER=mqtt_user 
MQTT_PASS=example_pass
MQTT_TOPIC_PREFIX=smartrent
